<div class="container">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- registration form  -->
        <div class="modal-header">
           <h3>Registration Form</h3>
        </div>
        
        <form #registrationForm="ngForm" (ngSubmit)="registerUser(registrationForm)">
           
            <div class="form-group">
               <input type="text" ngModel name="userName" class="form-control" id="userName" placeholder="Full Name" required>
            </div>

            <div class="form-group">
               <input type="number" ngModel name="contact" class="form-control" id="contact" placeholder="Phone Number" required>
            </div>

            <div class="form-group">
               <input type="password" ngModel name="password" class="form-control" id="password" placeholder="password" required>
            </div>

            <div class="form-group">
               <input type="password" ngModel name="confirm_Password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
            </div>

            <div class="modal-footer">
                <button [disabled]="registrationForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>

        </form>
    </div>
</div>
</div>