<body>
<div class="container">
  <div class="row">
    <div *ngFor="let photo of photos" class="col-sm-3 py-3 py-sm-0"> 
      <div class="card box-shadow">
        <img class="card-img-top" src="data:image/png;base64,{{photo?.image.data}}" alt="..">
        <div class="card-body">
          <h5 class="card-title">{{photo?.title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read more..</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>